<app-navbar></app-navbar>

<!-- <div>
  <h1>My Goals</h1>
<my-component></my-component>
<elijah></elijah>
<the-second-component></the-second-component>   :the one using template in ts file -->
<!-- <app-interpolation></app-interpolation>  interpolation file 
<app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding>here i a -->
  <!-- property-binding is here  -->
<!-- <app-goal></app-goal> -->
<!-- changed to the one at the bottom this comment-->
<!-- <a [routerLink]="['/goals']"> State Details </a> -->
 <!-- <app-main-bank-component></app-main-bank-component>  -->

<router-outlet></router-outlet>

<!-- <div *ngFor="let user of users">
  <h1>{{user.id}}</h1>
  
 </div> -->
  

